<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📄快捷键助手</title>
    <script src="../dist/vue.min.js"></script>
    <link rel="stylesheet" href="../dist/styleIndex.css" />
    
</head>
<body>
    <div id="app">
        <div class="title" >💕{{appName}}</div>
        <div class="toolBar">
            <div id="newZone" @click="">添加模块</div>
            <div id="addNewKey" @click="">添加新的快捷键</div>
            <div id="sync" @click="">保存</div>
            <div id="SwitchData" @click="">{{dataState}}</div>
            
            <div id='emoji'>🗑️</div>
            <draggable id="trash" group="keys" v-model="trash" animation="150"></draggable>
        </div>


        <div id="popWindow" class="disappear">
            <form id="form" class="form">
                <h2>添加快捷键</h2>
                <div class="form-control">
                  <label for="function">快捷键功能</label>
                  <input type="text" id="funcrion" placeholder="请输入快捷键功能" v-model="keyForm.function" />
                  <small>错误提示</small>
                </div>
                <div class="form-control">
                  <label for="keys">快捷键  <font @click="">{{inputState}}</font></label>
                  <div id="keys" tabindex="2" @focus="" @blur="">
                    <div  class="itemKey"  v-for="(key,index) in keyForm.keys" :key="index" >
                        {{keyCodes[key]}}
                    </div>
                  </div>
                  <small>错误提示</small>
                </div>
                <button @click="">提交</button>
                <button @click="">取消</button>
              </form>
        </div>
        <div id="footer">
            <div class="container">
                <div class="reminder">
                    <div>启动/关闭快捷键</div>
                    <div  class="itemKey"  v-for="(key,index) in config.keys" :key="index" >
                        {{keyCodes[key]}}
                    </div>
                </div>
                <div class="config" @click="">⚙</div>
            </div>
        </div>
    </div>
    
</body>
<script src="../render/main.js"></script>
</html>
